nav {
  margin-bottom: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

nav .item {
  cursor: pointer;
  border: 1px solid skyblue;
  margin-right: 10px;
  padding: 5px;
  border-radius: 3px;
}

nav .item.active {
  background: skyblue;
}