# EXACT --------------------------------------------------------------------------------------------
/ignore/
/node_modules/

# BY MASK ------------------------------------------------------------------------------------------
npm-debug.log
.idea
.DS_Store

test*.js
*.iml
