# EXACT --------------------------------------------------------------------------------------------
/ignore/
/node_modules/

# BY MASK ------------------------------------------------------------------------------------------
public

*.iml
.idea
.DS_Store

