# EXACT --------------------------------------------------------------------------------------------
/ignore/
/node_modules/

# BY MASK ------------------------------------------------------------------------------------------
public
npm-debug.log
*.iml
.idea
.DS_Store

