body {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 2em;
}

main {
  padding: 25px;
  position: relative;
  width: 300px;
  height: 300px;
  margin: auto auto;
}

.stopWatch.frame {
  position: relative;
  margin: auto auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 50%;
	width: 200px;
	height: 200px;
  background-color: skyblue;
}

.stopWatch.arrow {
  position: absolute;
  top: 0;
  left: 50%;
  height: 50%;
  width: 2px;
  background-color: white;
}

.stopWatch.trigger {
  text-align: center;
  margin: auto auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: 20px;
}
