nav {
  margin-bottom: 20px;
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  width: 25%;
}

nav .item {
  flex: 1 1 auto;
  cursor: pointer;
  border: 1px solid skyblue;
  padding: 20px 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}

nav .item.active {
  background: skyblue;
}