{% extends "base.html" %}

{% block body %}
  <h1>CycleJS examples</h1>

  <h2>Lesson 1: gentle introduction</h2>

  <p>
    <a href="/examples/1.1-hello-cycle">Example 1.1: hello cycle</a>
  </p>

  <p>
    <a href="/examples/1.2-hello-streams">Example 1.2: hello streams</a>
  </p>

  <p>
    <a href="/examples/1.3-hello-nodes">Example 1.3: hello nodes</a>
  </p>

  <!--<p>-->
    <!--<a href="/examples/1.3-timer-smart">#1.3 Timer: smart</a>-->
  <!--</p>-->
<!---->
  <!--<p>-->
    <!--<a href="/examples/2.1-hello-input">#2.1 Hello: input</a>-->
  <!--</p>-->
<!---->
  <!--<p>-->
    <!--<a href="/examples/2.2-hello-footer">#2.1 Hello: footer</a>-->
  <!--</p>-->
<!---->
  <!--<p>-->
    <!--<a href="/examples/3.1-slider-intro">#3.1 Slider: intro</a>-->
  <!--</p>-->
<!---->
  <!--<p>-->
    <!--<a href="/examples/3.2-slider-state">#3.2 Slider: state</a>-->
  <!--</p>-->
<!---->
  <!--<p>-->
    <!--<a href="/examples/3.3-slider-multiple">#3.3 Slider: multiple</a>-->
  <!--</p>-->
<!---->
  <!--<p>-->
    <!--<a href="/examples/3.4-slider-colors">#3.4 Slider: colors</a>-->
  <!--</p>-->
<!---->
  <!--<p>-->
    <!--<a href="/examples/4.1-menu-basic">#4.1 Menu: basic</a>-->
  <!--</p>-->
<!---->
  <!--<p>-->
    <!--<a href="/examples/4.2-menu-form">#4.2 Menu: form</a>-->
  <!--</p>-->
<!---->
  <!--<p>-->
    <!--<a href="/examples/4.3-menu-fun">#4.3 Menu: fun</a>-->
  <!--</p>-->
<!---->
  <!--<p>-->
    <!--<a href="/examples/5.1-search-client">#5.1 Search: client</a>-->
  <!--</p>-->
<!---->
  <!--<p>-->
    <!--<a href="/examples/6.1-favs-single">#6.1 Favs: single</a>-->
  <!--</p>-->
<!---->
  <!--<p>-->
    <!--<a href="/examples/6.2-favs-list">#6.2 Favs: list</a>-->
  <!--</p>-->
{% endblock %}